:root {
	//Fonts
	--font-Inter: 'Inter';

	//Colors

	--accent: #f14f4f;
	--accent-hover: #cc4949;
	--accent-active: #8c2828;
	--text: #444b58;
	--gray-dark: #31343c;
	--gray: #b2b5bb;
	--gray-light: #d8d3d3;
	--sec-bg: #fff4ee;
	--small-text: #dbbba9;
	--bg: #484283;
}
