.cart {
	.container {
		width: 100%;
		min-height: 100vh;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 40px;
		h1 {
			padding: 50px 20px 0 20px;
			color: var(--text);
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
		}
		.main_data {
			padding: 20px;
			border-radius: 10px;
			border: 1px solid var(--gray-light);
			&_item {
				color: var(--gray);
				padding: 10px 0;
				font-size: 16px;
				font-weight: 400;
				span {
					color: var(--text);
					font-size: 16px;
					font-weight: 700;
				}
			}
		}
		.button_buy {
			margin: 0 auto;
		}
	}
}
